.project-card {
    --inner-offset: 8px;
    text-decoration: none;
    color: var(--color-black);
    position: relative;
    @include to(600px){
        --inner-offset: 4px;
    }
    &__title {
        @include to(600px){
            // padding-right: 46px;
            width: 70%;
        }
    }
    &__img {
        position: relative;
        &-wrap {
            padding-bottom: 62.5%;
            position: relative;
            z-index: -1;
            @include from-to(601px, 1024px){
                padding-bottom: 73%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__text {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include from(1025px){
            gap: 8px;
        }
    }
    &__date {
        @include from(1025px){
            white-space: nowrap;
        }
        @include to(600px){
            @include text-style-1920-buttons;
        }
    }

    @media (hover: hover) and (min-width: 1025px) {
        &__img-wrap {
            overflow: hidden;
        }
        &__img-wrap img {
            transition: .5s ease-in-out;
        }
        &:hover &__img-wrap img {
            transform: scale(1.05);
            filter: grayscale(100%);
        }
        &:hover .diagonal-arrow g {
            animation: diagonalArrow 1s ease-out infinite;
        }
    }
}