.services-container {
    margin-top: 0 !important;
    .services-block {
        position: sticky;
        top: 0;
        background-color: var(--color-white);
        border-top: 1px solid var(--Gray-light, #A8A8A8);
        background: var(--White, #EFF3F5);
    }
    @for $i from 1 through 8 {
        .services-block:nth-child(#{$i}) {
            top: #{$i * 8}px;
        }
    }
    @include to(600px){
        .services-block:last-child {
            padding-bottom: 0;
        }
    }
}


.license-screen {
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    margin-bottom: var(--section-v-offset);
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    &__text {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
        max-width: 920px;
        @include to(1024px){
            width: 100%;
        }
    }
    &__image {
        width: 233px;
        @include from-to(1321px, 1520px){
            width: 200px;
        }
        @include from-to(1025px, 1320px){
            width: 160px;
        }
        @include to(1024px){
            width: 100%;
        }
    }
    &__image-wrapper {
        position: relative;
        padding-bottom: 125%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .button {
        @include to(1024px){
            margin-left: auto;
            margin-right: auto;
        }
    }
}