.single-project-front-screen {
    padding-top: calc(var(--header-h) + 20px);
    .breadcrumbs {
        margin-bottom: 20px;
    }
    &__title-wrapper {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
    }
    &__title {
        background-color: var(--color-black);
        padding: 9px 20px;
        @include to(600px){
            @include text-style-375-h-2;
        }
        &-decor1 {
            width: 6px;
            align-self: stretch;
            background-color: var(--color-black);
            border-left: 1px solid var(--color-white);
        }
        &-decor2 {
            width: 5px;
            align-self: stretch;
            background-color: var(--color-black);
            border-left: 1px solid var(--color-white);
        }
        &-decor3 {
            width: 4px;
            align-self: stretch;
            background-color: var(--color-black);
            border-left: 1px solid var(--color-white);
        }
        &-decor4 {
            width: 3px;
            align-self: stretch;
            background-color: var(--color-black);
            border-left: 1px solid var(--color-white);
        }
        &-decor5 {
            width: 2px;
            align-self: stretch;
            background-color: var(--color-black);
            border-left: 1px solid var(--color-white);
        }
    }
}

.single-project-label {
    padding: 4px 8px;
    border-radius: 1000px;
    background-color: var(--color-black);
    color: var(--color-white);
    @include text-style-1920-buttons;
    white-space: nowrap;
}


.single-project-screen2 {
    margin-top: calc(var(--section-v-offset) * 0.5) !important;
    overflow: hidden;
    @include to(1024px){
        margin-top: 100px !important;
    }
    @include to(600px){
        margin-top: 80px !important;
    }
    &__content {
        @include row-flex();
        align-items: flex-start;
    }
    &__title {
        @include size(5.5);
        @include shift(0);
        @include size-md(12);
        @include shift-md(0);
        @include size-xs(12);
        @include shift-xs(0);
        @include to(1024px){
            margin-bottom: 40px;
        }
    }
    &__labels {
        @include size(1.5);
        @include shift(0);
        @include size-md(4);
        @include shift-md(0);
        @include size-xs(12);
        @include shift-xs(0);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 2px;
        &>:first-child {
            margin-bottom: 12px;
            @include to(1024px){
                width: 100%;
            }
        }
        @include to(1024px){
            padding-right: var(--page-side-fields);
        }
        @include to(600px){
            padding-left: var(--page-side-fields);
        }
    }
    &__info {
        @include size(3.5);
        @include shift(0);
        @include size-md(8);
        @include shift-md(0);
        @include size-xs(12);
        @include shift-xs(0);
        @include to(1024px){
            padding-left: var(--page-side-fields);
        }
        @include to(600px){
            padding-right: var(--page-side-fields);
            margin-bottom: 40px;
        }
        &-group {
            display: grid;
            grid-template-columns: 1fr 6fr;
            grid-template-rows: auto auto;
            justify-items: start;
            column-gap: 10px;
            row-gap: 4px;
            @include to(1024px){
                grid-template-columns: auto 1fr;
            }
            @include to(600px){
                grid-template-columns: 1fr auto;
            }
            img {
                width: 48px;
                height: 48px;
                grid-area: 1/1/3/1;
                align-self: center;
                @include to(600px){
                    grid-area: 1/2/3/2;
                }
            }
        }
        &-group~&-group {
            margin-top: 48px;
            @include to(600px){
                margin-top: 28px;
            }
        }
    }
}

.single-project-slider {
    height: calc(var(--vh, 1vh) * 100 - var(--header-h));
    @include to(1024px){
        height: 600px;
        margin-bottom: 200px;
    }
    @include to(600px){
        margin-top: 80px !important;
        height: 300px;
        margin-bottom: 158px;
    }
    .swiper-container {
        @include to(1024px){
            overflow: visible;
        }
    }
    .swiper-slide {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        img:last-child {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            filter: blur(20px);
            object-fit: cover;
        }
    }
    &__counter {
        border-radius: 1000px;
        background-color: var(--color-white);
        display: flex;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        @include text-style-1920-buttons;
        @include to(1024px){
            top: calc(100% + 86px);
        }
        span:first-child,
        span:last-child {
            width: 16px;
        }
        @include to(1024px){
            bottom: -10px;
        }
    }
    &__button {
        border-radius: 1000px;
        background-color: var(--color-white);
        width: pxWidthInVw(120);
        height: pxWidthInVw(120);
        display: flex;
        align-items: center;
        justify-content: center;
        @include to(1024px){
            width: 120px;
            height: 120px;
        }
        @include to(600px){
            width: 68px;
            height: 68px;
        }
        svg {
            width: 60%;
            height: auto;
        }
    }
    
    &__nav {
        display: flex;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        pointer-events: none;
        z-index: 2;
        @include to(1024px){
            top: auto;
            bottom: 0;
            transform: translateY(50%);
            
            width: auto;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            gap: 20px;
        }
        @include to(600px){
            gap: 8px;
        }
        &>* {
            pointer-events: all;
        }
    }
    @media (hover: hover) and (min-width: 1025px) {
        border-color: transparent;
        &__button {
            background-color: transparent;
            position: relative;
            overflow: hidden;
        }
        svg {
            z-index: 2;
        }
        &__button:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: .2s ease-out;
            border-radius: 1000px;
            background-color: var(--color-white);
        }
        &__button:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-black);
            transition: .2s ease-in;
            border-radius: 1000px;
            transform: translateY(-100%);
        }
        &__button:hover {
            border-color: var(--color-black);
        }
        &__button:hover:after {
            transform: translateY(100%);
        }
        &__button:hover:before {
            transform: translateY(0%);
        }
        &__button:hover svg [fill] {
            fill: var(--color-white);
        }
        &__button:hover svg [stroke] {
            stroke: var(--color-white);
        }
    }
}

.single-project-description {
    margin-top: calc(var(--section-v-offset) * 0.5) !important;
    &__content {
        @include row-flex();
        align-items: flex-start;
    }
    &__title {
        @include size(6);
        @include shift(0);
        @include size-md(12);
        @include shift-md(0);
        @include size-xs(12);
        @include shift-xs(0);
        @include from(1025px){
            @include shift-padding-right(1.9);
        }
        @include to(1025px){
            margin-bottom: 60px;
        }
        @include to(600px){
            margin-bottom: 40px;
            div {
                @include text-style-375-h-2
            }
        }
    }
    &__description {
        @include size(6);
        @include shift(0);
                @include size-md(12);
        @include shift-md(0);
        @include size-xs(12);
        @include shift-xs(0);
        @include from(1025px){
            @include shift-padding-right(1);
        }
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        .button {
            width: max-content;;
        }
    }
}