ul.breadcrumbs(class=breadcrumbsClass)
  li.breadcrumbs-item
    a(href="#").breadcrumbs-item__link 
      span Головна
      .incredible-button__line
      .incredible-button__line2
    .breadcrumbs-item__icon
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M9.01291 6.27048C9.51335 5.62636 10.4866 5.62636 10.9871 6.27048L11.1447 6.47332C11.2725 6.63784 11.4776 6.7228 11.6843 6.69685L11.9392 6.66485C12.7485 6.56326 13.4367 7.25148 13.3351 8.06081L13.3032 8.31567C13.2772 8.5224 13.3622 8.72749 13.5267 8.85532L13.7295 9.01291C14.3736 9.51335 14.3736 10.4866 13.7295 10.9871L13.5267 11.1447C13.3622 11.2725 13.2772 11.4776 13.3032 11.6843L13.3351 11.9392C13.4367 12.7485 12.7485 13.4367 11.9392 13.3351L11.6843 13.3032C11.4776 13.2772 11.2725 13.3622 11.1447 13.5267L10.9871 13.7295C10.4866 14.3736 9.51335 14.3736 9.01291 13.7295L8.85532 13.5267C8.72749 13.3622 8.5224 13.2772 8.31567 13.3032L8.06081 13.3351C7.25149 13.4367 6.56326 12.7485 6.66485 11.9392L6.69685 11.6843C6.7228 11.4776 6.63784 11.2725 6.47332 11.1447L6.27048 10.9871C5.62636 10.4866 5.62636 9.51335 6.27048 9.01291L6.47332 8.85532C6.63784 8.72749 6.7228 8.5224 6.69685 8.31567L6.66485 8.06081C6.56326 7.25148 7.25148 6.56326 8.06081 6.66485L8.31567 6.69685C8.5224 6.7228 8.72749 6.63784 8.85532 6.47332L9.01291 6.27048Z" fill="#0A0F13"/>
      </svg>
  if breadcrumbsSubitem
    each v in breadcrumbsSubitem
      li.breadcrumbs-item
        a(href="#").breadcrumbs-item__link
          span #{v.label}
          .incredible-button__line
          .incredible-button__line2
        .breadcrumbs-item__icon
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M9.01291 6.27048C9.51335 5.62636 10.4866 5.62636 10.9871 6.27048L11.1447 6.47332C11.2725 6.63784 11.4776 6.7228 11.6843 6.69685L11.9392 6.66485C12.7485 6.56326 13.4367 7.25148 13.3351 8.06081L13.3032 8.31567C13.2772 8.5224 13.3622 8.72749 13.5267 8.85532L13.7295 9.01291C14.3736 9.51335 14.3736 10.4866 13.7295 10.9871L13.5267 11.1447C13.3622 11.2725 13.2772 11.4776 13.3032 11.6843L13.3351 11.9392C13.4367 12.7485 12.7485 13.4367 11.9392 13.3351L11.6843 13.3032C11.4776 13.2772 11.2725 13.3622 11.1447 13.5267L10.9871 13.7295C10.4866 14.3736 9.51335 14.3736 9.01291 13.7295L8.85532 13.5267C8.72749 13.3622 8.5224 13.2772 8.31567 13.3032L8.06081 13.3351C7.25149 13.4367 6.56326 12.7485 6.66485 11.9392L6.69685 11.6843C6.7228 11.4776 6.63784 11.2725 6.47332 11.1447L6.27048 10.9871C5.62636 10.4866 5.62636 9.51335 6.27048 9.01291L6.47332 8.85532C6.63784 8.72749 6.7228 8.5224 6.69685 8.31567L6.66485 8.06081C6.56326 7.25148 7.25148 6.56326 8.06081 6.66485L8.31567 6.69685C8.5224 6.7228 8.72749 6.63784 8.85532 6.47332L9.01291 6.27048Z" fill="#0A0F13"/>
          </svg>
  li.breadcrumbs-item__current--color.breadcrumbs-item= title_page
