- 
  const departments = [
    { phone: '(032) 242-44-51', label: '(Юридичний відділ)' },
    { phone: '(032) 242-44-50', label: '(Бухгалтерія)' },
    { phone: '(032) 242-44-47', label: '(Інженерний відділ)' },
    { phone: '(032) 242-44-52', label: '(Кошторисний відділ)' },
    { phone: '(032) 242-44-46', label: '(Відділ постачання)' }
  ]
// Повторювальний блок контактів
.contact-screen.g_side_padding(id="contact-screen")
  .contact-screen__content
    .contact-screen__text
      +title-decor()
      .contact-screen__title.text-style-1920-h-1.text-style-375-h-1(data-split-lines-new-animation) Контакти
      .contact-screen__text-wrapper
        .contact-screen__group
          .text-style-1920-h-3.color-black Головний офіс:
          .contact-screen__adress.color-black 79034, Україна, м.Львів, вул. Луганська, 20
          <a href="#" target='_blank' class="button button--mimas">
            <span class="text-button-small text-dark">Відкрити на Google maps</span>
          </a>
        .contact-screen__group
          .text-style-1920-h-3.color-black Наші соцмережі:
          <a class="favourite-button" href="#" target='_blank'>
              <div class="favourite-button__hover"></div>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.002 6C13.5653 6 13.7661 6.00663 14.3877 6.03613C15.0226 6.06416 15.4672 6.1675 15.8604 6.31934C16.2745 6.47537 16.652 6.72132 16.9639 7.03711L16.791 7.21289L16.9668 7.04004L17.0811 7.1582C17.3442 7.44542 17.5479 7.77917 17.6865 8.14551C17.8387 8.53712 17.9427 8.98432 17.9707 9.61914C17.9979 10.2386 18 10.4394 18 12.001C18 13.5645 17.993 13.7648 17.9658 14.3838C17.9378 15.0192 17.8346 15.464 17.6826 15.8574C17.3586 16.6954 16.6956 17.3585 15.8574 17.6826C15.4656 17.835 15.0182 17.9378 14.3828 17.9658C13.7636 17.9931 13.5638 18 12 18C10.4362 18 10.2363 17.9931 9.61719 17.9658C8.98188 17.9378 8.53692 17.8345 8.14355 17.6826C7.72911 17.5264 7.35199 17.28 7.04004 16.9639L7.21387 16.7891L7.03809 16.9619L7.03906 16.9639C6.72261 16.6519 6.47605 16.2757 6.31738 15.8564C6.16534 15.465 6.06218 15.0182 6.03418 14.3838C6.00698 13.7648 6 13.5645 6 12.001C6 10.4381 6.00663 10.2376 6.03613 9.61621C6.06417 8.98134 6.16745 8.53675 6.31934 8.14355C6.45611 7.78085 6.66167 7.44617 6.92285 7.15918L7.03711 7.04102L7.21387 7.21289L7.04004 7.03711C7.35238 6.71849 7.72772 6.47543 8.14551 6.31738C8.53699 6.16537 8.98435 6.06219 9.61914 6.03418C10.2383 6.00699 10.4384 6 12.002 6ZM12 9.1582C10.4312 9.15837 9.15837 10.4311 9.1582 12C9.1582 13.569 10.4311 14.8426 12 14.8428C13.5691 14.8428 14.8428 13.5691 14.8428 12C14.8426 10.431 13.569 9.1582 12 9.1582ZM15.4736 7.2627C14.7765 7.26291 14.2112 7.82802 14.2109 8.52539C14.2109 9.22283 14.7763 9.78884 15.4736 9.78906C16.1713 9.78906 16.7373 9.22299 16.7373 8.52539C16.7371 7.82785 16.1711 7.2627 15.4736 7.2627Z" fill="#EFF3F5"/>
              </svg>
          </a>
          <a class="favourite-button" href="#" target='_blank'>
              <div class="favourite-button__hover"></div>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.002 7.5C12.0259 7.50009 14.4214 7.51569 16.0078 7.62988L16.0293 7.63184C16.0471 7.63419 16.0671 7.6372 16.0889 7.63965C16.352 7.66929 16.8992 7.73068 17.3818 8.23926C17.7995 8.67196 17.901 9.5235 17.9111 9.61914L17.9121 9.62402C17.9157 9.66391 17.9999 10.6114 18 11.5625V12.4521C18 13.4032 17.9157 14.3507 17.9121 14.3906L17.9102 14.4023C17.8984 14.4961 17.7835 15.3288 17.3857 15.7568C16.9085 16.2766 16.3701 16.3331 16.1113 16.3604C16.0867 16.3629 16.0639 16.3655 16.0439 16.3682L16.0225 16.3701C14.436 16.4843 12.0406 16.4999 12.0166 16.5H12.0098C11.888 16.4983 9.01559 16.4554 8.09961 16.3691L8.07227 16.3652C8.04361 16.3602 8.00095 16.3561 7.95215 16.3506C7.64346 16.3156 7.06994 16.2502 6.61621 15.7588C6.20084 15.3263 6.09918 14.4918 6.08887 14.3965L6.08789 14.3906C6.08432 14.3507 6.00002 13.4032 6 12.4521V11.5625C6 10.6114 6.08432 9.66382 6.08789 9.62402L6.08984 9.6123C6.10165 9.51875 6.21646 8.68589 6.61426 8.25781C7.09837 7.73052 7.64021 7.66841 7.90039 7.63867C7.9206 7.63634 7.93917 7.63408 7.95605 7.63184L7.97754 7.62988C9.57823 7.51567 11.9741 7.50009 11.998 7.5H12.002ZM11.1221 10.2061C10.9615 10.1258 10.7716 10.1287 10.6143 10.2139C10.4572 10.2991 10.3634 10.4493 10.3633 10.6162V13.3838C10.3633 13.5502 10.4569 13.7008 10.6133 13.7861C10.6949 13.8307 10.7853 13.8535 10.876 13.8535C10.9591 13.8535 11.0425 13.8346 11.1191 13.7969L13.9111 12.4248C14.0767 12.3434 14.1807 12.1865 14.1816 12.0146C14.1823 11.8427 14.0801 11.6842 13.915 11.6016L11.1221 10.2061Z" fill="#EFF3F5"/>
              </svg>
          </a>
          <a class="favourite-button" href="#" target='_blank'>
              <div class="favourite-button__hover"></div>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.9046 7.9925H15V6.0845C14.811 6.0585 14.1611 6 13.4041 6C11.8248 6 10.7429 6.9935 10.7429 8.8195V10.5H9V12.633H10.7429V18H12.8797V12.6335H14.552L14.8175 10.5005H12.8792V9.031C12.8797 8.4145 13.0457 7.9925 13.9046 7.9925Z" fill="#EFF3F5"/>
              </svg>
          </a>
          <a class="favourite-button" href="#" target='_blank'>
              <div class="favourite-button__hover"></div>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.7547 8.56637C15.6768 8.52451 15.601 8.47862 15.5275 8.42888C15.3139 8.282 15.1181 8.10893 14.9442 7.9134C14.5091 7.39568 14.3467 6.87046 14.2868 6.50272H14.2892C14.2392 6.19749 14.2599 6 14.263 6H12.2815V13.9691C12.2815 14.0761 12.2815 14.1818 12.2772 14.2863C12.2772 14.2993 12.2759 14.3113 12.2752 14.3253C12.2752 14.3311 12.2752 14.3371 12.274 14.3431C12.274 14.3446 12.274 14.3461 12.274 14.3476C12.2531 14.6335 12.165 14.9097 12.0174 15.1519C11.8698 15.3941 11.6672 15.5949 11.4275 15.7365C11.1776 15.8843 10.8951 15.9619 10.6076 15.9615C9.68438 15.9615 8.93613 15.1785 8.93613 14.2116C8.93613 13.2446 9.68438 12.4617 10.6076 12.4617C10.7824 12.4615 10.9561 12.4901 11.1222 12.5464L11.1246 10.448C10.6202 10.3803 10.1077 10.422 9.61957 10.5705C9.13141 10.719 8.67814 10.9711 8.28836 11.311C7.94682 11.6196 7.65969 11.9879 7.43989 12.3992C7.35624 12.5492 7.04065 13.1519 7.00243 14.1301C6.97839 14.6853 7.13872 15.2605 7.21515 15.4983V15.5033C7.26322 15.6433 7.4495 16.121 7.75308 16.5237C7.99787 16.8468 8.28708 17.1306 8.61141 17.3659V17.3609L8.61621 17.3659C9.57549 18.0439 10.6391 17.9994 10.6391 17.9994C10.8232 17.9917 11.44 17.9994 12.1404 17.6542C12.9172 17.2714 13.3595 16.7012 13.3595 16.7012C13.642 16.3605 13.8667 15.9722 14.0239 15.553C14.2032 15.0628 14.263 14.4748 14.263 14.2398V10.012C14.287 10.027 14.6072 10.2473 14.6072 10.2473C14.6072 10.2473 15.0685 10.5548 15.7881 10.755C16.3044 10.8975 17 10.9275 17 10.9275V8.88161C16.7563 8.9091 16.2614 8.82911 15.7547 8.56637Z" fill="#EFF3F5"/>
              </svg>

          </a>
        .contact-screen__group
          .text-style-1920-h-3.color-black Телефони відділів:
          each dept in departments
            a(href=`tel:+${dept.phone.replace(/[^0-9]/g, '')}`).contact-screen__phone-link
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.40625 0C1.21092 0.000183586 1.01756 0.0413945 0.838867 0.120117C0.660082 0.198931 0.498958 0.313943 0.367188 0.458008C0.235459 0.602053 0.135613 0.772213 0.0732422 0.957031C0.0108576 1.14189 -0.0127077 1.33796 0.00488281 1.53223C0.235969 3.70363 0.976427 5.79038 2.16602 7.62305C3.24674 9.3204 4.68893 10.7593 6.38965 11.8379C8.21772 13.021 10.2988 13.7602 12.4648 13.9951C12.6598 14.0127 12.8565 13.9893 13.042 13.9268C13.2276 13.8641 13.3985 13.7631 13.543 13.6309C13.6874 13.4986 13.8023 13.3374 13.8809 13.1582C13.9594 12.979 13.9998 12.7854 13.999 12.5898V10.4824C14.0076 10.138 13.8892 9.80198 13.666 9.53906C13.4428 9.27612 13.13 9.10381 12.7881 9.05566C12.1125 8.96671 11.449 8.80221 10.8105 8.56445C10.5587 8.46996 10.2847 8.4489 10.0215 8.50488C9.75836 8.56089 9.51654 8.69114 9.3252 8.87988L8.43066 9.77246C6.66866 8.77245 5.21 7.31614 4.20801 5.55762L5.10156 4.66504C5.29071 4.47413 5.42136 4.23326 5.47754 3.9707C5.53368 3.70798 5.51268 3.43407 5.41797 3.18262C5.17975 2.54542 5.0149 1.88325 4.92578 1.20898C4.87797 0.871385 4.70824 0.56216 4.44922 0.339844C4.19025 0.11773 3.85903 -0.00335397 3.51758 0H1.40625Z" fill="#0A0F13"/>
              </svg>
              .color-black #{dept.phone}
              .text-style-1920-buttons.color-gray-dark #{dept.label}
        .contact-screen__group
          .text-style-1920-h-3.color-black Email:
          a(href="mailto:office@tvd.ua").contact-screen__social-link 
            span office@tvd.ua 
    .contact-screen__visual
      .contact-screen__round-images
        .contact-screen__round-images-images(data-home-left-images)
          .contact-screen__img-wrapper
            .contact-screen__round-images__img
              img(src="./assets/images/contact-screen/round1.jpg", alt="")
          .contact-screen__img-wrapper
            .contact-screen__round-images__img
              img(src="./assets/images/contact-screen/round2.jpg", alt="")
        .contact-screen__round-images-title
          .text-style-1920-h-1(data-split-lines-new-animation) Якість 
          .text-style-1920-h-1(data-split-lines-new-animation) понад усе


// Повторювальний блок контактів END