extends ../layout/main
    
block meta
  title= '404'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(src='./assets/scripts/vendors.bundle.js')
  script(src='./assets/scripts/index.bundle.js')

block content
  .inner-front-screen.inner-front-screen--white-decor.page404
    .inner-front-screen__bg
      img(src="./assets/images/404bg.jpg", alt="", srcset="")
    .inner-front-screen__content
      .inner-front-screen__title.text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1.color-white 
        <svg width="583" height="182" viewBox="0 0 583 182" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.77344 137.047V116.051L68.5898 18.4922H85.9727V48.375H75.3281L33.7266 114.195V115.367H119.957V137.047H6.77344ZM76.1094 164V130.699L76.5 121.227V18.4922H101.305V164H76.1094ZM181 165.953C169.216 165.953 159.125 163.023 150.727 157.164C142.393 151.24 136.013 142.743 131.586 131.676C127.159 120.543 124.945 107.099 124.945 91.3438C124.945 75.5885 127.159 62.1445 131.586 51.0117C136.013 39.8138 142.393 31.2852 150.727 25.4258C159.125 19.5013 169.216 16.5391 181 16.5391C192.719 16.5391 202.777 19.5013 211.176 25.4258C219.574 31.3503 225.987 39.8789 230.414 51.0117C234.841 62.1445 237.055 75.5885 237.055 91.3438C237.055 107.099 234.841 120.543 230.414 131.676C225.987 142.743 219.607 151.24 211.273 157.164C202.94 163.023 192.849 165.953 181 165.953ZM181 143.883C187.315 143.883 192.654 141.832 197.016 137.73C201.443 133.629 204.796 127.672 207.074 119.859C209.418 111.982 210.59 102.477 210.59 91.3438C210.59 80.1458 209.418 70.6081 207.074 62.7305C204.796 54.8529 201.443 48.8633 197.016 44.7617C192.654 40.5951 187.315 38.5117 181 38.5117C171.495 38.5117 164.171 43.1341 159.027 52.3789C153.949 61.5586 151.41 74.5469 151.41 91.3438C151.41 102.477 152.549 111.982 154.828 119.859C157.107 127.672 160.46 133.629 164.887 137.73C169.314 141.832 174.685 143.883 181 143.883ZM242.531 137.047V116.051L304.348 18.4922H321.73V48.375H311.086L269.484 114.195V115.367H355.715V137.047H242.531ZM311.867 164V130.699L312.258 121.227V18.4922H337.062V164H311.867Z" fill="#EFF3F5"/>
          <path d="M537.001 13.0577C580.047 37.9105 594.796 92.9537 569.943 136C545.09 179.046 490.047 193.795 447.001 168.942C403.955 144.089 389.206 89.0463 414.059 46C438.911 2.95372 493.955 -11.795 537.001 13.0577ZM435.132 65.3725L427.632 78.3628L476.272 106.445L467.198 122.162C458.739 136.812 463.759 155.545 478.409 164.003C493.059 172.461 511.792 167.442 520.25 152.792L529.324 137.075L534.9 140.294L542.4 127.304L435.132 65.3725ZM496.303 118.01L488.259 131.942L501.249 139.442L509.293 125.51L516.334 129.575L507.26 145.292C502.944 152.767 493.384 155.329 485.909 151.013C478.433 146.697 475.872 137.137 480.188 129.662L489.262 113.945L496.303 118.01ZM481.774 41.3793L478.267 28.29L471.023 30.2318L463.778 32.1731L467.285 45.2615L454.196 48.7697L456.137 56.0138L458.078 63.2583L471.168 59.7502L474.675 72.8409L481.919 70.8991L489.164 68.9586L485.656 55.868L498.746 52.3621L496.805 45.1171L494.864 37.8725L481.774 41.3793ZM536.314 72.8681L532.807 59.7788L525.562 61.7201L518.318 63.6619L521.825 76.7498L508.736 80.2584L512.618 94.7471L525.707 91.2398L529.215 104.329L543.703 100.447L540.196 87.3568L553.285 83.8503L551.345 76.6058L549.404 69.3608L536.314 72.8681Z" fill="#EFF3F5"/>
        </svg>
      +title-decor()
  .page404
    .page404__text
      .page404__text-title.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2 Сторінка згасла, як світло вечора. Але шлях до прекрасного відкритий — поверніться на головну.
      .page404__buttons
        button(type="button" onclick="window.history.back()").button.button--mimas
          span Повернутися Назад
        a(href="/").button.button--mimas
          span на головну
  include ../includes/contact-screen.pug
  include ../includes/form-screen.pug
block footer
  include ../includes/footer.pug
block header
  include ../includes/header.pug

